App {
  font-family: sans-serif;
  text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
table {
  border-collapse: collapse;
  margin-top: 10px;
}
table thead {
  background-color: rgb(250, 244, 123);
}
th,
td {
  border: 2px solid rgb(73, 7, 177);
  padding: 15px;
}

/* //modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position: fixed;
    background: white;
    width: 45%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .display-block {
    display: block !important;
  }
  
  .display-none {
    display: none;
  }
  .closeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #b3f8b6;
    padding: 5px;
    margin-left: 50%;
    margin-top: 10px;
    color: rgb(24, 23, 23);
    border-radius: 5px;
  }
  .detailButton {
    background-color: #b3d7f8;
    border: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* // search input */

  .example {
    padding: 25px;
  }
  
  form.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  /* // pagination */
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: rgb(55, 54, 54);
    border-color: rgb(248, 169, 169);
    background-color: #4caf50;
  }
  
  .pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
  }
  